<div id="preloader">
  <div id="status">  <%= image_tag("preloader.gif") %> </div>
</div>
<div class="coming-soon full">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="logo"> <i class="fa fa-heartbeat fa-3x"></i> </div>
        <h2>Coming soon</h2>
        <p>We are currently working on a brand new website. Stay tuned!</p>
        <h3>Time left until launching</h3>
        <div class="counter">
          <div class="days-wrapper"> <span class="days"></span> <br>
            days </div>
          <div class="hours-wrapper"> <span class="hours"></span> <br>
            hours </div>
          <div class="minutes-wrapper"> <span class="minutes"></span> <br>
            minutes </div>
          <div class="seconds-wrapper"> <span class="seconds"></span> <br>
            seconds </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12 subscribe">
      <h3>Subscribe to get notified!</h3>
      <form class="form-inline">
        <input type="text" name="email" placeholder="Enter your email...">
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span12 social"> <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a> <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a> <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a> <a href="#"><i class="fa fa-pinterest-square fa-2x"></i></a> <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a> </div>
  </div>
  <div class="span12 row">
    <div class="copyright">Copyright &copy; 2015 Company Name. Design by <a href="http://www.templategarden.com" rel="nofollow">TemplateGarden</a></div>
  </div>
</div>
